:root {

    --primary-main: #2196f3;
    --primary-dark: #42a5f5;
    --primary-light: #e3f2fd;
    --primary-gray: #484c4e;
    --base-gray: #c8cfd4;
    --background-color:#FFFFFF;

    --text-on-primary: #ffffff;
    --text-on-light: #2196f3;
    --font-color-primary:black;
    --disabled-color: #c8c8c8;
    --error: #F44336
}

html, body {
    font-family: 'Roboto', 'sans-serif';
}

* {
    box-sizing: border-box
}
