.codeEditor_wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.codeEditor_label {
    font-weight: 800;
}

.codeEditor_select {
    width: 100%;
    border-radius: 6px;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--primary-dark);
    background-color: var(--primary-light);
}