.answer_title {
    display: flex;
    align-items: center;
    gap: 15px
}
.showAnswers{
    width: 20px;
    height: 20px;
}
.answer_container {
    border: 1px solid #8bcafa;
    background-color: #c5e1f6;
    border-radius: 8px;
    width:80%;
    padding: 10px 15px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 8px;
}
.answers_list {
    padding: 0;
    margin: 8px 0 0 0;
    list-style: none;
    width: 80%;
}
.answer_content {
    flex-grow: 1;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
}