.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-light);
    color: #eee;
    padding: 16px 24px;
    border-bottom: 1px solid #2c2c2c;
    flex-wrap: wrap;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #4fc3f7;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.actions {
    margin-top: 8px;
}

.header_action_button {
    background-color: var(--primary-dark);
    color: #eee;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.header_action_button:hover {
    background-color: #af9a9a;
}

@media (min-width: 600px) {
    .nav,
    .actions {
        margin-top: 0;
    }

    .header {
        flex-wrap: nowrap;
    }
}
